body {
	background-color: lightgrey;
}

.container {
	text-align: center;
}
 
h1 {
	font-family: "comic sans ms";
	text-decoration: underline;
	font-size: 30px;
}

.menubutton {
	background-color: white;
	font-size: 20px;
	outline: none;
	border: 1px solid #dddddd;
	border-radius: 4px
}

button:hover {
	background-color: black;
	color: white;
}
