.content {
	margin: 50px;
	vertical-align: middle;
}

table {
	vertical-align: top;	
	display: inline-block;
	margin-left: 150px;
	border: 1.5px solid black
}

th, td {
	border: 1px solid black;
	text-align: center;
	border-radius: 2.5px;
}

#studentForm {
	vertical-align: top;
	display: inline-block;
	margin-left: 150px;
}

.stuInput {
	display: table-column;
	text-align: center;
	margin-left: 20px;
	float: right;
}

#submitButtons {
	display: block;
	text-align:center;
}